@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans/static/OpenSans-Regular.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nonwrap-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nonwrap-column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 57%;
}

.col-5 {
  width: 40%;
}

.col-4 {
  width: 33%;
}

.col-2 {
  width: 16.66%;
}

.col-10 {
  width: 83.33%;
}

.col-8 {
  width: 66.66%;
}

.col-3 {
  width: 25%;
}

.d-flex {
  display: flex;
}

.col-9 {
  width: 75%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-80 {
  width: 75%;
  margin: 0 auto;
}

.section-head {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 80px;
}
.section-head h3 {
  font-family: "RobotoMedium";
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: center;
}

.navigatio-wrapper {
  justify-content: space-between;
}

.navigatio-wrapper {
  justify-content: space-between;
}

.logo-squer {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 0.5px solid black;
}

.logo-squers {
  align-items: center;
  padding: 0px 5px;
}

header {
  padding-top: 40px;
  background: rgba(30, 40, 50, 0.05);
}
header .navigatio-wrapper {
  height: 100%;
  align-content: center;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 30px;
}

.logo-h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.categories-list {
  justify-content: space-between;
  padding-top: 30px;
  list-style: none;
}
.categories-list a {
  text-decoration: none;
  color: #000000;
}

.navigation-item {
  padding-left: 15px;
}
.navigation-item span {
  font-family: "RobotoRegular";
  padding-left: 10px;
}

#collections {
  padding-top: 100px;
  background: rgba(30, 40, 50, 0.05);
  padding-bottom: 80px;
}

.burger {
  display: none;
}

.collections-info {
  height: 100%;
  justify-content: space-around;
}
.collections-info h3 {
  font-size: 74px;
  font-weight: 100;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;
  font-family: "RobotoRegular";
}
.collections-info p {
  letter-spacing: 0em;
  text-align: left;
  font-family: "RobotoRegular";
  font-size: 30px;
  line-height: 55px;
  text-transform: capitalize;
}
.collections-info button {
  width: 30%;
  height: 15%;
  background: #1E2832;
  color: white;
}
.collections-info button span {
  font-family: "RobotoRegular";
  padding-left: 10px;
  font-size: 20px;
}
.collections-info button i {
  font-size: 20px;
}

.collections-info {
  width: 80%;
  padding: 10px 0px;
}

.collections-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections-image img {
  width: 100%;
  height: 100%;
}

.search-icon i {
  display: flex;
  height: 100%;
  align-items: center;
}

.navigation-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 5%;
  left: 10%;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.z-index-1 {
  z-index: 13333;
}

.fade {
  border-radius: 160px 0px;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .user-navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  .categories {
    display: none;
  }
  #collections {
    padding-top: 40px;
  }
  .col-md-12 {
    width: 100%;
  }
  .collections-info {
    height: unset;
  }
  .collections-info {
    width: 100%;
    align-items: center;
  }
  .collections-info p {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .collections-info button {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  .container {
    width: 90%;
  }
  .user-navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  .categories {
    display: none;
  }
  #collections {
    padding-top: 40px;
  }
  .col-md-12 {
    width: 100%;
  }
  .collections-info {
    height: unset;
  }
  .collections-info h3 {
    font-size: 50px;
  }
  .collections-info {
    width: 100%;
    align-items: center;
  }
  .collections-info p {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .collections-info button {
    margin-bottom: 20px;
  }
  .position-absolute {
    position: absolute;
    top: 5%;
    display: none;
    border: 2px solid rgba(0, 0, 0, 0.25);
  }
}
#sponsors {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sponsors-wrapper {
  justify-content: space-between;
}

.vertical-div {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 648px;
  padding: 10px;
  font-family: "RobotoMedium";
  font-size: 42px;
}

.main-photo {
  width: 100%;
  height: 648px;
  max-height: 648px;
}
.main-photo img {
  width: 100%;
  height: 100%;
}

.mini-photo-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mini-photo-wrapper img {
  width: 95%;
  height: 95%;
}

.main-photo {
  padding-right: 20px;
}

.mini-photos {
  height: 648px;
}

.styles-wrapper {
  height: 100%;
}

#sub-newsletter {
  padding-bottom: 100px;
}

.sub-newsletter-nav {
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.sub-newsletter-nav-ul ul {
  list-style: none;
}
.sub-newsletter-nav-ul ul li {
  padding-right: 20px;
}
.sub-newsletter-nav-ul ul a {
  text-decoration: none;
  color: black;
}

.sub-newsletter-nav-btn button {
  background: #1E2832;
  color: white;
  width: 110px;
}
.sub-newsletter-nav-btn button span {
  font-family: "RobotoRegular";
  padding-left: 10px;
  font-size: 20px;
}
.sub-newsletter-nav-btn button i {
  font-size: 13px;
}

.sub-newsletter-card-name h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.sub-newsletter-card-image img {
  width: 100%;
}

.sub-newsletter-card {
  padding: 10px;
}

.sub-newsletter-card-footer {
  justify-content: space-between;
}

.sub-newsletter-nav {
  padding: 10px;
}

.zara-wrapper {
  height: 700px;
  background-image: url(../images/andrey-zvyagintsev-EQj1ZMpq_VM-unsplash\ 1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  justify-content: flex-end;
}

.zara-logo {
  padding-top: 150px;
}

.zara-col p {
  padding-top: 40px;
  width: 80%;
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.zara-col button {
  background: #FFFFFF;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}
.zara-col button span {
  font-size: 14px;
  font-family: "RobotoMedium";
  color: black;
}

#instagram {
  background-color: #F3F4F4;
}

.inst-img {
  width: 100%;
  padding: 10px;
}
.inst-img img {
  width: 100%;
}

#sub-new-input-section {
  background-color: #F3F4F4;
}

.sub-new-input-section-wrapper {
  justify-content: center;
}

.input-wrapper input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #1E2832;
  width: 700px;
  padding: 10px;
  background-color: #F3F4F4;
  margin-right: 10px;
}
.input-wrapper button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #1E2832;
  padding: 10px;
  background-color: #F3F4F4;
}

#sub-new-input-section {
  padding-bottom: 100px;
}

.footer-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-info p {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-transform: capitalize;
  color: rgba(30, 40, 50, 0.75);
}

.footer-icons a {
  color: rgba(30, 40, 50, 0.75);
  padding-right: 30px;
}

.footer-li {
  padding-top: 10px;
}

.footer-section-wrapper-info {
  width: 90%;
}