#download-app {
    margin-top: 100px;
}

.phone-image {
    width: 100%;

    img {
        width: cover;
    }
}

.new-arriwals-header {
    margin-top: 200px;
}

.download-app-col {
    p {
        width: 70%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: -0.04em;
        color: #7C7C7C;
    }
}

.app-play-wrapper {
    margin-top: 50px;
}