.vertical-div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 648px;
    padding: 10px;
    font-family: 'RobotoMedium';
    font-size: 42px;
}

.main-photo {
    width: 100%;
    height: 648px;
    max-height: 648px;

    img {
        width: 100%;
        height: 100%;
    }
}

.mini-photo-wrapper {
    width: 100%;
    height: 100%;

    max-height: 324px;
    margin-right: 15px;


    img {
        width: 100%;
        height: 100%;
    }

    overflow: hidden;
}

.main-photo {
    margin-right: 15px;
}

.mini-photos {
    height: 648px;

}

.styles-wrapper {
    height: 100%;
}

.detail-on-hover {
    background-color: $general-dark-blue;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    z-index: 1;
    bottom: 0%;
    display: none;

    span {
        align-items: center;
        color: white;
        padding: 10px;
        font-family: 'RobotoMedium';
    }
}

.sub-newsletter-card :hover .detail-on-hover {
    display: flex;
}

.mini-photo-wrapper:hover .detail-on-hover {
    display: flex;
}

.main-photo:hover .detail-on-hover {
    display: flex;

}